<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Журнал Операторов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="wrapper_header">
                <div class="logo_content">
                    <div class="logo">
                        <a href="/">
                            <div class="logo_img">
                                <img src="/static/img/inko.png" alt="it_logo">
                            </div>
                        </a>
                    </div>
                </div>
                {% if current_user.is_authenticated %}
                <div class="navbar">
                    {% if current_user.permission['prosm_jur_it'] == "enable" %}
                    <a style="margin-right: 10px;" href="{{ url_for('auth.it') }}" class="navbar-item">
                        Журнал
                    </a>
                    {% endif %}
                    {% if current_user.permission['edit_jur_it'] == "enable" %}
                    <a style="margin-right: 10px;" href="{{ url_for('auth.editit') }}" class="navbar-item">
                        Редактирование
                    </a>
                    {% endif %}
                    {% if current_user.permission['inko_api'] == "enable" %}
                    <a style="margin-right: 10px;" href="{{ url_for('auth.inko_api') }}" class="navbar-item">
                        ИНКО API
                    </a>
                    {% endif %}
                    {% if current_user.permission['prosm_switch'] == "enable" or current_user.permission['set_switch']
                    ==
                    "enable"%}
                    <div class="dropdown">
                        <button class="dropbtn"> Коммутаторы
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            {% if current_user.permission['prosm_switch'] == "enable" %}
                            <a style="margin-right: 10px;" href="{{ url_for('auth.switch') }}" class="navbar-item">
                                Просмотр
                            </a>
                            {% endif %}
                            {% if current_user.permission['set_switch'] == "enable" %}
                            <a style="margin-right: 10px;" href="{{ url_for('auth.setswitch') }}" class="navbar-item">
                                Настройка
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% if current_user.permission['search'] == "enable" %}

                    <a href="{{ url_for('main.search') }}" class="navbar-item">
                        Поиск
                    </a>

                    {% endif %}




                </div>
                {% endif %}

                <div class="operator_content">
                    {% if not current_user.is_authenticated %}
                    <div>

                        <a href="{{ url_for('auth.login') }}">
                            <i class="fa fa-sign-in sign_btn" aria-hidden="true"></i>
                        </a><br>
                    </div>
                    <div>
                        <a href="{{ url_for('auth.signup') }}">
                            <i class="fa fa-registered sign_btn" aria-hidden="true"></i>
                        </a>
                    </div>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <div class="user">
                        <span>{{current_user.name}}</span>
                    </div>
                    <div class="users_buttom">
                        <a style="cursor: pointer;" class="navbar-item search_botton" onclick="settings_user()">
                            <i class="fa fa-cog sign_btn" aria-hidden="true"></i>
                        </a>
                        <div class="user_settings" id="user_settings" style="display: none;">


                            {% if current_user.permission['admin_user'] == "enable" or current_user.name == 'Брянский'%}
                            <div>
                                <a style="margin-right: 10px;" href="{{ url_for('auth.admin') }}" class="navbar-item">
                                    Панель управления
                                </a>
                            </div>
                            <div>
                                <a style="margin-right: 10px;" href="{{ url_for('auth.logs_app') }}"
                                    class="navbar-item">
                                    Посмотреть логи
                                </a>
                            </div>
                            {% endif %}
                            <div>
                                <b>Настройки</b>
                            </div>
                            <div>
                                <form method="post" action="/setsettings">
                                    <div style="padding: 10px;">
                                        <span>Количество записей</span>
                                        <input style="width: 30px; border-radius: 5px; margin-left: 5px;" type="text"
                                            name="kolvo" value="{{ current_user.settings['posts_kol']}}" required>
                                    </div>
                                    <div style="text-align: center; margin-top: 10px;">
                                        <button type="submit" class="btn btn-primary">Сохранить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="users_buttom">
                        <a href="{{ url_for('auth.logout') }}">
                            <i class="fa fa-sign-out sign_btn" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="burger_buttom" onclick="mobile_menu()">
                        <i class="fa fa-burger sign_btn" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div>
                {% endif %}
            </div>
        </div>
        </div>

        </div>
        <div id="nav_mobile_menu" style="display: none;" class="nav_mobile_menu">
            {% if current_user.is_authenticated %}
            <div>
                {% if current_user.permission['prosm_jur_it'] == "enable" %}
                <a style="margin-right: 10px;" href="{{ url_for('auth.it') }}" class="navbar-item">
                    Журнал
                </a>
                {% endif %}
            </div>
            <div>
                {% if current_user.permission['edit_jur_it'] == "enable" %}
                <a style="margin-right: 10px;" href="{{ url_for('auth.editit') }}" class="navbar-item">
                    Редактирование
                </a>
                {% endif %}
            </div>
            <div>
                {% if current_user.permission['inko_api'] == "enable" %}
                <a style="margin-right: 10px;" href="{{ url_for('auth.inko_api') }}" class="navbar-item">
                    ИНКО API
                </a>
                {% endif %}
            </div>
            <div>
                {% if current_user.permission['prosm_switch'] == "enable" %}
                <a style="margin-right: 10px;" href="{{ url_for('auth.switch') }}" class="navbar-item">
                    Просмотр коммутатора
                </a>
                {% endif %}
            </div>
            <div>
                {% if current_user.permission['set_switch'] == "enable" %}
                <a style="margin-right: 10px;" href="{{ url_for('auth.setswitch') }}" class="navbar-item">
                    Настройка коммутатора
                </a>
                {% endif %}
            </div>
            <div>
                {% if current_user.permission['search'] == "enable" %}
                <a href="{{ url_for('main.search') }}" class="navbar-item">
                    Поиск
                </a>
                {% endif %}
            </div>
            <div>
                <a href="{{ url_for('auth.logout') }}">Выход</a>
            </div>
            {% endif %}
        </div>
    </header>

    {% if current_user.is_authenticated %}
    <!-- {% if current_user.permission['create_news'] == "enable" %}
        <div class="operator_content">
            <a style="cursor: pointer;" class="navbar-item search_botton" onclick="add_news()">
                Добавить новость
            </a>
        </div>
        {% endif %}
    -->
    {% endif %}


    <div class="body_content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="tableInfoPort">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>

</body>

</html>