{% extends "base.html" %}

{% block content %}
<style type="text/css">
    .container {
      width: 1366px;
    }
  
    table,
    td,
    tr {
      border: 1px solid #000;
    }
  
    .table_oper_log {
      margin-top: 40px;
      font-size: 12px;
      width: 100%;
    }
  
    .table_oper_log input[type="text"],
    input[type="time"],
    textarea {
      width: 100%;
      border: none;
    }
  </style>
<center><h1 style="margin-top: 30px;">Поиск по базе событий</h1>
<form action="/search" method="post">
    Выберите дату с: <input border: 1px type="date" name="date1">
    Выберите дату по: <input border: 1px type="date" name="date2">
    Событие: <input border: 1px type="text" name="event">
    <input type="submit" name="form" value="Искать" />
</form></center>

<table class="table_oper_log">
    <tr style="text-align: center;">
        <td width="9%">Время события</td>
        <td>Событие</td>
        <td width="5%">Кому доложил</td>
        <td width="2%">Время восстан.</td>
        <td>Пояснение события</td>
        <td width="5%">Оператор</td>
    </tr>

    {% for log in logs %}
    <tr>
        <td style="text-align: center;">{{ log.time_event}}</td>
        <td>{{log.event }}</td>
        <td style="text-align: center;">{{ log.username_report }} </td>
        <td style="text-align: center;">{{ log.time_report }}
        </td>
        <td>{{ log.after_event }}</td>
        <td style="text-align: center;">{{ log.operator }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}